<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="\..\static\about.css">

	<title></title>
</head>
<body>
	{% set xyz = ext %}
	{% extends xyz %}
	{% block body %}
	<div class="abcontent1">

<div class="newtext">Siddhagiri Matham<br></div>
<img src="{{ url_for('static', filename='img/siddhgiri.jpg' ) }}" width="60%" height="40%">
<p >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Siddhagiri Math in Kaneri, Taluka Karvir, District Kolhapur is the highest seat of the Kadsiddheshwar tradition. It is the place where the first Kadsiddheshwar Swamiji, Shri Niramay Kadsiddheshwar came and settled in 7th century C.E. Since then the Math has been guiding its followers in both spiritual and worldly matters. Siddhagiri Math is the Sthir Peeth of the Kadsiddheshwar Tradition. It was previously known as Kaneri math. Siddhagiri Math had been rigorously working towards the betterment of society for centuries with primary focus on village development. Competent villages lead to a competent Nation.
Siddhgiri Math is situated in the Kaneri village of Karveer taluka, Kolhapur district of Maharashtra. It is around 12 km from the city of Kolhapur and is located in the foothills of the Sahayadris. At the centre of the Math, on the hill is the Shiva temple. Around the temple precincts are other buildings.The Math is involved in various social welfare and spiritual welfare activities.
	The Kadappa Mandir at Siddhagiri Math, Kaneri, have been here since the 7th century. Shri Swamiji performs pooja every pournima i.e. on full moon day before the satsang begins. Every Monday, Palkhi (procession) happens. Chatushakal Pooja is performed at this temple. Everyday daily practices such as - Kakad aarti, morning Bhajan, Afternoon Bhajan, Evening Bhajan are performed at the temple. Agnihotra is performed daily at the temple. Mahashivratri Utsav is one of the major festivals celebrated by Siddhagiri Math. This festival celebrated over 3 days.</p>
</div><br>
<div class="abcontent2">
	<div class="newtext">Kadappa Mandir – Heritage</div>
<img src="{{ url_for('static', filename='img/temple.jpg' ) }}" width="60%" height="40%">
<p>The Kadappa Mandir at Siddhagiri Math, Kaneri, have been here since the 7th century. Shri Swamiji performs pooja every pournima i.e. on full moon day before the satsang begins. Every Monday, Palkhi (procession) happens. Chatushakal Pooja is performed at this temple. Everyday daily practices such as - Kakad aarti, morning Bhajan, Afternoon Bhajan, Evening Bhajan are performed at the temple. Agnihotra is performed daily at the temple. Mahashivratri Utsav is one of the major festivals celebrated by Siddhagiri Math. This festival celebrated over 3 days. Devotees from different states, gather in large numbers during Mahashivratri Utsav and performs Abhisheka at temple. It is considered to be Jagrut Devsthan. Many come to fulfil their Navas(a vow).<br><br>

Kadappa Mandir’s architecture looks majestic. The Shiva Linga had been established there in the 7th century. The outer edifices have been predicted to have built later, possibly in 12th century. The temple was initially built without a fence. Shirasangi Desai of the Belgaum district built this massive cladding in the 14th century to safeguard the Matha. Since then, the wall has been protecting the temple precincts. Before independence, it used to shut its gates at dusk and no one was allowed in after sunset. The temple has three entrances, unlike Dravida vimana architecture and more like nagara style of the north. At the centre, the garbhagriha, there is Shiva Linga with a Nandi Mandapa adjacent to the main temple.</br>
</div><br><br>

<div class="abcontent3">
	<div class="newtext">Gurudev Dhyan Mandir – A place for Spiritual upliftment</div>
<img src="{{ url_for('static', filename='img/gurudev_mandir.jpg' ) }}" width="50%" height="30%">
<p>Shri Adrushya Swamiji established the massive, elegant and peaceful Gurudev Dhyan Mandir(meditation temple) which is the samadhi place of 48th Mathdhipati PP Shri Muppin Kadsiddheshwar Swamiji Maharaj. Every Satsang program at Math starts with Aarati at Gurudev Dhyan Mandir. One should take blessings of his aaradhya Guru and start his work. And, PP Shri Muppin Kadsiddheshwar Swamiji Maharaj being 'Upasya Devta' of the Math, you can see this practice is being followed for years. Devotees from various parts of states like Maharashtra, Karnataka and Goa often visit the Dhyan Mandir to take blessings of Swamiji Maharaj and meditate. Devotees gathers in huge numbers during festivals such as Gurupournima & Guru-aaradhana, and make various offerings as per their faith.<br><br>

<p>Murti placed in the Gurudev Dhyan mandir (temple), is the living embodiment of Swamiji Maharaj. Core of Swamiji Maharaj’s teachings and discourses was Mi Aatma Aahe(I am that), means self-realization of being the ultimate divine. And, meditation is a way to attain it. A person can experience eternal bliss and feels rejuvenated performing Meditatoin(Dhyan) here, in presence of Swamiji Maharaj. It is been built to inspire an individual to walk on the path of Spiritual Upliftment through the practice of meditation.</p></br>
</div><br>


<div class="abcontent4">
	<div class="newtext">Annachatra</div>

<img src="{{ url_for('static', filename='img/annachatra.jpg' ) }}" width="50%" height="30%">
<p>Anna Chhatra is a place where the residents of the Math as well as visitors have Mahaprasad. It daily serves around 2000 to 3000 people. This is open for everyone without any distinction, which gives out strong message of ‘Samata’ and ‘Seva’. The concept behind the Anna Chhatra is to provide food to anyone hungry without any fees or questions. Many volunteers provide their service in cooking and serving the Mahaprasad. The visitors of the Siddhagiri Museum can also have Mahaprasad here. On the days of festivals, more than 50,000 people are served at Anna Chhatra.<br><br>

One of the principle strictly followed here is – One can get Mahaprasad as much as he/she wants, but shouldn’t waste it. Amount of food wasted could’ve fed a starving person. Timings of serving food is between 11 am to 3 pm and 7 pm to 8 pm. Anybody can voluntarily opt to serve a day’s meal in Annachatra. Donation of Rs. 11,000/- is a cost of a day's food preparation. Abhishek is done at main temple in the name of food-donor.</p></br>
</div><br><br><br>






	{% endblock%}

</body>
</html>